/**
 *	@name : css base
 *	@kind : css
 *	@description : 设置基础css样式
 */

body {
  font-family: "微软雅黑" !important;
  background-color: #EDEDED;
}
html, body {
  width: 100%;
  height: 100%;
  display: flex;
  display: webkit-flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
svg {
  pointer-events: none;
}
.mCustomScrollBox {
  flex: 1 1 auto;
}

/* ---------------------------------------- uiToolbar -------------------------------------------- */
.uiTooBar {
  position: relative;
  display: flex;
  display: webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  padding: 17px 3px 0 3px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #343c46;
  z-index: 9999;
  width: 46px;
  height: inherit;
  flex: 0 0 auto;
  box-shadow: 1px 0px 1px 0px #272727;
  z-index: 10000;
}
.uiToolbarIcon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.toolbarSave {
  background-image: url(../img/icon/ic_insert_drive_file_white_48dp.png);
  background-size: 100% 100%;
}
.toolbarPlay {
  background-image: url(../img/icon/ic_play_circle_fill_white_48dp.png);
  background-size: 100% 100%;
}
.toolbarAddPage {
  background-image: url(../img/icon/ic_add_circle_white_48dp.png);
  background-size: 100% 100%;
}
.toolbarUploadImage {
  background-image: url(../img/icon/ic_crop_original_white_48dp.png);
  background-size: 100% 100%;
}

/* ---------------------------------------- uiToolbar end -------------------------------------------- */


/* ---------------------------------------- dyEditorPanel -------------------------------------------- */

.uiEditorPanel {
  position: relative;
  display: flex;
  display: webkit-flex;
  flex-flow: column nowrap;
  user-select: none;
  -webkit-user-select: none;
  background-color: #434D59;
  box-shadow: 1px 0 4px rgba(0, 0, 0, .2);
  z-index: 9999;
  overflow-y: visible;
  overflow-x: visible;
  width: 200px;
  height: inherit;
  flex: 0 0 auto;
}
.uiEditorPanelTabs {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 38px;
  background-color: #343c46;
}
.uiEditorPanelTabs span {
  flex: 1 1 auto;
  color: #A7A7A7;
  height: 38px;
  text-align: center;
  padding: 9px;
  font-size: 1em;
  cursor: pointer;
}
.uiEditorPanelTabsActive {
  color: #DDDDDD !important;
  background-color: #434D59;
}
.uiEditorPanelPages {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex: 1 1 auto;
  background-color: #434D59;
  overflow: auto;
}
.uiEditorPanelElementList {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  overflow: auto;
}
.pageElement {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background-color: #434D59;
  cursor: pointer;
  border-bottom: 1px solid #343C46;
}
.pageRenamePrompts {
  position: relative;
  display: block;
  width: 200px;
  text-align: center;
  color: #D60C0C;
}
.pageElementActive {
  background-color: #2286FB;
}
.pageElementIcon {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 8px 5px 0 5px;
  border: 1px dashed #D45819;
}
.pageElementName {
  position: relative;
  flex: 1 1 auto;
  color: #FFFFFF;
  font-size: 1em;
  padding: 5px;
}
.pageElementName input {
  width: 110px;
  height: 20px;
}
.nameNotEditor {
  background-color: inherit;
  border: none;
}
.nameEditor {
  color: #000000;
  background-color: #FFFFFF;
}
.homeIcon {
  background-image: url(../img/icon/ic_home_white_48dp.png);
  background-size: 100% 100%;
}
.deleteIcon {
  background-image: url(../img/icon/ic_delete_white_48dp.png);
  background-size: 100% 100%;
}
.elementNoBorder {
  border: none;
}
.elementDisplay {
  background-image: url(../img/icon/ic_remove_red_eye_white_48dp.png) !important;
  background-size: 100% 100%;
}
.elementLocked {
  background-image: url(../img/icon/ic_https_white_48dp.png) !important;
  background-size: 100% 100%;
}

/* ---------------------------------------- dyEditorPanel end -------------------------------------------- */


/* ---------------------------------------- uiEditorPanelComponents -------------------------------------------- */

.uiEditorPanelComponents {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex: 1 1 auto;
  background-color: #434D59;
}
.componentSearch {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px;
}
.componentSearchClear {
  width: 31px;
  height: 34px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-collapse: collapse;
  position: absolute !important;
  right: 10px;
  top: 10px !important;
  padding-top: 10px;
}
.componentList {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100px;
  width: 100%;
  flex: 1 1 auto;
  overflow-y: hidden;
}
.componentElement {
  position: relative;
  display: block;
  width: 160px;
  height: 120px;
  background-color: #ff0000;
  margin: 5px 0 0 13px;
  flex: 0 0 auto;
}
.componentElement span {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(1, 36, 78, 0.73);
  color: #FFFfff;
  height: 28px;
}
.componentElementAdd {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 56, 121, 0.87);
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.componentElementAdd button {
  margin: 0 auto;
  width: 80px;
}

/* ---------------------------------------- uiEditorPanelComponents end -------------------------------------------- */


/* ---------------------------------------- uiDrawPanel -------------------------------------------- */

.uiDrawPanel {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  display: webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  background-color: #F0F2F3;
  box-shadow: 1px 0 4px rgba(0, 0, 0, .2);
  z-index: 9999;
  overflow: auto;
  height: inherit;
}

/* ---------------------------------------- uiDrawPanel  end -------------------------------------------- */


/* ---------------------------------------- uiCreatePage -------------------------------------------- */

.uiCreatePage {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: inherit;
  height: inherit;
  background-color: #F4F4F4;
}
.uiCreatePageTitle {
  position: relative;
  width: inherit;
  height: 200px;
  font-size: 3em;
  text-align: center;
  justify-content: flex-start;
  display: flex;
  flex-flow: column-reverse nowrap;
  flex: 0 0 auto;
}
.uiCreatePageCreateName {
  position: relative;
  display: flex;
  width: inherit;
  height: 20px;
  font-size: 1em;
  justify-content: center;
  margin: 0 0 10px 0;
  color: #B6BAC2;
  flex: 0 0 auto;
}
.uiCreatePagePrompts {
  color: #D60C0C;
  margin-top: 10px;
}
.uiCreatePageCreateName input {
  width: 380px;
}
.uiCreatePageDescription {
  position: relative;
  width: inherit;
  height: 20px;
  font-size: 1em;
  justify-content: center;
  text-align: center;
  margin: 30px 0 0 0;
  color: #B6BAC2;
  flex: 0 0 auto;
}
.uiCreatePageTemplates {
  position: relative;
  width: inherit;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  justify-content: center;
  background-color: #F4F4F4;
}
.templateSelected {
  background-color: rgba(14, 53, 74, 0.46) !important;
}
.pageTemplate {
  width: 200px;
  height: 150px;
  background-color: #FFF;
  margin: 20px;
}
.uiCreatePageAddButton {
  position: relative;
  display: flex;
  width: inherit;
  height: 35px;
  font-size: 1.3em;
  justify-content: center;
  flex: 0 0 auto;
  margin-bottom: 40px;
}
.uiCreatePageAddButtonWidth {
  width: 180px;
  margin: 0 15px 0 15px;
}
.imagePlayerContent {
  /*height:inherit !important;*/
  background-color: #F4F4F4 !important;
  z-index: 1;
}
.uiImagePlayer {
  position: relative;
  display: block;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: #9E9E9E;
  box-shadow: 0px 6px 20px #272727;
  top: 230px;
}
.uiImagePlayerIcon {
  position: relative;
  display: inline-block;
  margin: -30px 0 0 190px;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon/ic_play_arrow_white_48dp.png);
  background-size: 100% 100%;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* ---------------------------------------- uiCreatePage  end -------------------------------------------- */


/* ---------------------------------------- uiProperties -------------------------------------------- */

.uiComponentProperties {
  position: relative;
  display: flex;
  display: webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  background-color: #434D59;
  box-shadow: 1px 0 4px rgba(0, 0, 0, .2);
  z-index: 9999;
  overflow-y: visible;
  overflow-x: visible;
  width: 252px;
  height: inherit;
  flex: 0 0 auto;
}

/* ---------------------------------------- uiProperties  end -------------------------------------------- */


/**********************************************
 *                                            *
 *                 uiAlert                    *
 *                                            *
 **********************************************/

.alertBox {
  position: fixed;
  left: 35%;
  top: 30%;
  background-color: #343C46;
  width: 400px;
  height: 200px;
  z-index: 99999;
  box-shadow: 0px 6px 20px #272727;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.alertClose {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
}
.alertCloseIcon {
  float: right;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon/ic_close_white_48dp.png);
  background-size: 100% 100%;
}
.alertInfo {
  position: relative;
  display: flex;
  width: 100%;
  height: 170px;
  justify-content: center;
}
.alertInfo span {
  position: relative;
  width: auto;
  height: 30px;
  color: #FFFFFF;
  margin: auto;
}
