<div>
  <!-- 组件名 -->
  <div class="uiPropertyTitle">
    <input class="uiPropertyBaseName" type="text" ng-model="base.name"></input>
    <div class="uiPropertyDelete" ng-click="del(base)"></div>
    <!--<button class="btn btn-xs" style="float: right" ng-click="save()">保存</button>-->
  </div>

  <!-- 选项卡 -->
  <div class="uiEditorPanelTabs" ng-init="componentProp='propertyList'">
    <span ng-class="{'uiEditorPanelTabsActive':componentProp=='propertyList'}" ng-click="componentProp='propertyList'">属性</span>
    <span ng-class="{'uiEditorPanelTabsActive':componentProp=='dataLink'}" ng-click="componentProp='dataLink'">数据连接</span>
  </div>

  <!-- 内容 -->
  <div class="uiPropertyTabsContent" style="height:auto;">

    <!-- 属性 -->
    <div class="uiPropertyAttr" ng-show="componentProp=='propertyList'">


      <div properties-box dir-title="布局">
        <div>
          <label class="w-60">宽度</label>
          <div unit-select dir-class="w-40" dir-model="style.width" ng-click="refreshGauge()"></div>
        </div>

        <div>
          <label class="w-60">高度</label>
          <div unit-select dir-class="w-40" dir-model="style.height" ng-click="refreshGauge()"></div>
        </div>

        <div class="half">
          <label class="w-60">左边距</label>
          <!-- <input class='w-40' type="text" ng-model="style.marginLeft"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginLeft"></div>
        </div>

        <div class="half">
          <label class="w-60">上边距</label>
          <!-- <input class="w-40" type="text" ng-model="style.marginTop"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginTop"></div>
        </div>

        <div class="half">
          <label class="w-60">右边距</label>
          <!-- <input class="w-40" type="text" ng-model="style.marginRight"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginRight"></div>
        </div>

        <div class="half">
          <label class="w-60">下边距</label>
          <!-- <input class="w-40" type="text" ng-model="style.marginBottom"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginBottom"></div>
        </div>

        <div class="clear"></div>
      </div>

      <div properties-box dir-title="样式">
        <div class="h-auto">
          <label class="w-80">字体颜色</label>
          <input type="text" colorpicker="rgba" ng-model="style.color" class="w-100"/>
        </div>
        <div class="h-auto">
          <label class="w-80"></label>
          <div class="w-100" ng-model="style.color" ng-style="{'background-color' : style.color}" colorpicker="rgba" style="position:relative;display:inline-block;height:20px;"></div>
        </div>
        <div class="h-auto">
          <label class="w-80">背景颜色</label>
          <input type="text" colorpicker="rgba" ng-model="style.backgroundColor" class="w-100" />
        </div>

        <div class="h-auto">
          <label class="w-80"></label>
          <div class="w-100" ng-model="style.backgroundColor" ng-style="{'background-color' : style.backgroundColor}" colorpicker="rgba" style="position:relative;display:inline-block;height:20px;"></div>
        </div>

        <div class="clear"></div>
      </div>


    </div>


    <!-- 数据连接 -->
    <div class="uiPropertyDataLink" ng-show="componentProp=='dataLink'">

      <div properties-box dir-title="数据源">
        <div>
          <label class="w-80">类型</label>
          <select class="w-80">
            <option ng-model="data.datasouceName">实时数据源</option>
          </select>
        </div>

        <div>
          <label class="w-80">模型</label>
          <select class="w-80">
            <option ng-model="data.systemModelName">{{data.systemModelName}}</option>
          </select>
        </div>

        <div>
          <label class="w-80">系统</label>
          <select class="w-80">
            <option ng-model="data.systemName">{{data.systemName}}</option>
          </select>
        </div>
      </div>


      <div properties-box dir-title="播放设置">

        <!-- 变量区域 -->
        <div>
          <label class="w-100">变量选择</label>
          <select class="w-80" ng-model="data.tag" ng-mouseover="getTags()">
            <option ng-repeat="tag in tags">{{tag.name}}</option>
          </select>
        </div>

        <!-- 选择属性 -->
        <div>
          <label class="w-100">标题</label>
          <input type="text" class="w-80" ng-model="base.title" ng-change="addRedirect();" />
        </div>

        <div>
          <label class="w-100">最大刻度值</label>
          <input type="text" class="w-80" ng-model="base.max" ng-change="addRedirect();" />
        </div>

        <div>
          <label class="w-100">最小刻度值</label>
          <input type="text" class="w-80" ng-model="base.min" ng-change="addRedirect();" />
        </div>

      </div>

    </div>

  </div>
