<div>
    <!-- 组件名 -->
    <div class="uiPropertyTitle">
          <input class="uiPropertyBaseName" type="text" ng-model="base.name"></input>
         <div class="uiPropertyDelete" ng-click="del(base)"></div>
        <!--<button class="btn btn-xs" style="float: right" ng-click="save()">保存</button>-->
    </div>

    <!-- 选项卡 -->
    <div class="uiEditorPanelTabs" ng-init="componentProp='propertyList'">
        <span ng-class="{'uiEditorPanelTabsActive':componentProp=='propertyList'}" ng-click="componentProp='propertyList'">属性</span>
        <span ng-class="{'uiEditorPanelTabsActive':componentProp=='dataLink'}" ng-click="componentProp='dataLink'">数据连接</span>
    </div>

    <!-- 内容 -->
    <div class="uiPropertyTabsContent" style="height:auto;">

        <!-- 属性 -->
        <div class="uiPropertyAttr" ng-show="componentProp=='propertyList'">

            <div properties-box dir-title="布局">

                <div>
                    <label class="w-60">宽度</label>
                    <div unit-select dir-class="w-40" dir-model="style.width"></div>
                </div>

                <div>
                    <label class="w-60">高度</label>
                    <div unit-select dir-class="w-40" dir-model="style.height"></div>
                </div>

                <div class="half">
                    <label class="w-60">左边距</label>
                    <!-- <input class='w-40' type="text" ng-model="style.marginLeft"/> -->
                    <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginLeft"></div>
                </div>

                <div class="half">
                    <label class="w-60">上边距</label>
                    <!-- <input class="w-40" type="text" ng-model="style.marginTop"/> -->
                    <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginTop"></div>
                </div>

                <div class="half">
                    <label class="w-60">右边距</label>
                    <!-- <input class="w-40" type="text" ng-model="style.marginRight"/> -->
                    <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginRight"></div>
                </div>

                <div class="half">
                    <label class="w-60">下边距</label>
                    <!-- <input class="w-40" type="text" ng-model="style.marginBottom"/> -->
                    <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginBottom"></div>
                </div>

                <div>
                    <label class="w-100">自适应缩放</label>
                    <select class="w-100" ng-model="style.flex">
                        <option value="1 1 auto">适应缩放</option>
                        <option value="0 0 auto">不缩放</option>
                    </select>
                </div>

                <div class="clear"></div>
            </div>

            <div properties-box dir-title="样式">
                <div>
                    <label class="w-80">时间格式</label>
                    <select class="w-80">
                    </select>
                </div>
                <div>
                    <label class="w-140">显示时间设置控件</label>
                    <input type="checkbox" ng-model="style.timeCtrl" ng-true-value="1" ng-false-value="0"/>
                </div>
                <div>
                    <label class="w-80">报表边框</label>
                    <input type="checkbox" ng-model="style.tbBorder" ng-true-value='1' ng-false-value='0'/>
                </div>
                <div>
                    <label class="w-80">颜色</label>
                    <select class="w-80" ng-model="tbColor" style="background:{{tbColors[tbColor].even}}" ng-change="changeColor(tbColor)">
                        <option ng-repeat="color in tbColors track by $index" style="background:{{color.even}}" value="{{$index}}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </option>
                    </select>
                </div>
            </div>

        </div>

        <!-- 数据连接 -->
        <div class="uiPropertyDataLink" ng-show="componentProp=='dataLink'">

            <div properties-box dir-title="数据源">
                <div>
                    <label class="w-80">类型</label>
                    <select class="w-80" ng-model="data.ds.dsSelected">
                        <option value="getSystemHistoryReadInterval">历史数据源</option>
                    </select>
                </div>

                <div>
                    <label class="w-80">模型</label>
                    <select class="w-80"></select>
                </div>

                <div>
                    <label class="w-80">系统</label>
                    <select class="w-80"></select>
                </div>
            </div>

            <div properties-box dir-title="历史数据-报表">
                <!-- 变量区域 -->
                <div>
                    <label class="w-80">变量搜索</label>
                    <select class="w-80" ng-model="tagSelectedIdx" ng-change="updateIdx(tagSelectedIdx)">
                        <option ng-repeat="tag in tags track by $index" value="{{$index}}">{{tag.name}}</option>
                    </select>
                    <span class="btn btn-xs" ng-click="addTag()"><i class="glyphicon glyphicon-plus"></i></span>
                    <div>
                        <!-- 列表 -->
                        <div class="w-140" style="height:100px;float:left;margin:15px;border:solid #CCC 1px">
                            <div ng-repeat="tag in data.op.tags track by $index" ng-class="{'pageElementActive':tagIdx==$index}" ng-click="selectTag($index)">{{tag}}</div>
                        </div>
                        <!-- 按钮 -->
                        <div class="w-40" style="height:100px;float:left;margin:15px auto;">
                            <span class="btn btn-xs m-t-10" ng-click="upTag(tagIdx)"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            <span class="btn btn-xs m-t-10" ng-click="downTag(tagIdx)"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            <span class="btn btn-xs m-t-10" ng-click="removeTag(tagIdx)"><i class="glyphicon glyphicon-remove"></i></span>       
                        </div>
                    </div>
                </div>

                <!-- 表格表头 -->
                <div>
                    <label class="w-80">表头</label>

                    <input type="radio" name="tableHead" value="name" ng-model="data.tb.head"/>
                    <span>变量名</span>
                    <input type="radio" name="tableHead" value="desc" ng-model="data.tb.head"/>
                    <span>描述</span>
                </div>

                <!-- 报表时间类型 -->
                <div>
                    <label class="w-80">报表类型</label>
                    <select class="w-80" ng-model="data.tb.type" ng-change="refreshComponent()">
                        <option value='year'>年报</option>
                        <option value='month'>月报</option>
                        <option value='week'>周报</option>
                        <option value='day'>日报</option>
                        <option value='auto'>自定义报表</option>
                    </select>
                    <!-- 年 -->
                    <div ng-if="data.tb.type=='year'">
                        <div>
                            <label class="w-80">默认年份</label>
                            
                            <select class="w-80" ng-model="data.tb.isNow" ng-change="refreshComponent()">
                                <option value='1'>今年</option>
                                <option value='0'>去年</option>
                            </select>
                        </div>
                        <div style="padding-left:15px">
                            <span>展示每月</span>
                            <select ng-model="data.tb.day" class="w-40" ng-change="refreshComponent()" ng-options="option for option in ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','最后一']">
                            </select>
                            <span>日</span>
                            <input type="text"  class="w-40" ng-model="data.tb.hour" ng-change="refreshComponent()"/>
                            <span>点的数据</span>
                        </div>
                    </div>
                    <!-- 月 -->
                    <div ng-if="data.tb.type=='month'">
                        <div>
                            <label class="w-80">默认月份</label>
                            <select class="w-80"  ng-model="data.tb.isNow" ng-change="refreshComponent()">
                                <option value='1'>当月</option>
                                <option value='0'>上月</option>
                            </select>
                        </div>
                        <div style="padding-left:15px">
                            <span>展示每日</span>
                            <input type="text"  class="w-40" ng-model="data.tb.hour" ng-change="refreshComponent()"/>
                            <span>点</span>
                            <input type="text"  class="w-40" ng-model="data.tb.minute" ng-change="refreshComponent()"/>
                            <span>分的数据</span>
                        </div>
                    </div>
                    <!-- 周 -->
                    <div ng-if="data.tb.type=='week'">
<!--                         <div>
                            <label class="w-80">自然周</label>
                            <input type="checkbox"/>
                        </div> -->
                        <div>
                            <label class="w-80">默认周</label>
                            <select class="w-80"  ng-model="data.tb.isNow" ng-change="refreshComponent()">
                                <option value='1'>本周</option>
                                <option value='0'>上周</option>
                            </select>
                        </div>
                        <div style="padding-left:15px">
                            <span>展示每日</span>
                            <input type="text"  class="w-40" ng-model="data.tb.hour" ng-change="refreshComponent()"/>
                            <span>点</span>
                            <input type="text"  class="w-40" ng-model="data.tb.minute" ng-change="refreshComponent()"/>
                            <span>分的数据</span>
                        </div>
                    </div>
                    <!-- 日 -->
                    <div ng-if="data.tb.type=='day'">
                        <div>
                            <label class="w-80">默认日期</label>
                            <select class="w-80"  ng-model="data.tb.isNow" ng-change="refreshComponent()">
                                <option value='1'>今天</option>
                                <option value='0'>昨天</option>
                            </select>
                        </div>
                        <div style="padding-left:15px">
                            <span>展示每小时第</span>
                            <input type="text"  class="w-40" ng-model="data.tb.minute" ng-change="refreshComponent()" />
                            <span>分的数据</span>
                        </div>
                    </div>
                    <!-- 自定义 -->
                    <div ng-if="data.tb.type=='auto'">
                        <div>
                            <label class="w-80">起始时间</label>
                            <input class="w-80" type="text"/>
                        </div>
                        <div>
                            <label class="w-80">起始时间</label>
                            <input class="w-80" type="text"/>
                        </div>
                        <div>
                            <label class="w-80">起始时间</label>
                            <input class="w-80" type="text"/>
                        </div>
                    </div>
                </div>  

            </div>
        </div>
    </div>

</div>
