<div>
  <!-- 组件名 -->
  <div class="uiPropertyTitle">
    <input class="uiPropertyBaseName" type="text" ng-model="base.name"></input>
    <div class="uiPropertyDelete" ng-click="del(base)"></div>
    <!--<button class="btn btn-xs" style="float: right" ng-click="save()">保存</button>-->
  </div>

  <!-- 选项卡 -->
  <div class="uiEditorPanelTabs" ng-init="componentProp='propertyList'">
    <span ng-class="{'uiEditorPanelTabsActive':componentProp=='propertyList'}" ng-click="componentProp='propertyList'">属性</span>
    <span ng-class="{'uiEditorPanelTabsActive':componentProp=='dataLink'}" ng-click="componentProp='dataLink'">数据连接</span>
  </div>

  <!-- 内容 -->
  <div class="uiPropertyTabsContent" style="height:auto;">

    <!-- 属性 -->
    <div class="uiPropertyAttr" ng-show="componentProp=='propertyList'">


      <div properties-box dir-title="布局">
        <div>
          <label class="w-60">宽度</label>
          <div unit-select dir-class="w-40" dir-model="style.width"></div>
        </div>

        <div>
          <label class="w-60">高度</label>
          <div unit-select dir-class="w-40" dir-model="style.height"></div>
        </div>

        <div class="half">
          <label class="w-60">左边距</label>
          <!-- <input class='w-40' type="text" ng-model="style.marginLeft"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginLeft"></div>
        </div>

        <div class="half">
          <label class="w-60">上边距</label>
          <!-- <input class="w-40" type="text" ng-model="style.marginTop"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginTop"></div>
        </div>

        <div class="half">
          <label class="w-60">右边距</label>
          <!-- <input class="w-40" type="text" ng-model="style.marginRight"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginRight"></div>
        </div>

        <div class="half">
          <label class="w-60">下边距</label>
          <!-- <input class="w-40" type="text" ng-model="style.marginBottom"/> -->
          <div unit-out dir-class='w-40' dir-unit="px" dir-model="style.marginBottom"></div>
        </div>

        <div class="clear"></div>
      </div>



      <div properties-box dir-title="样式">

        <div>
          <label class="w-60">内容</label>
          <input type="text" class="w-100" ng-model="style.text" />
        </div>

        <div>
          <label class="w-60">字体</label>
          <select class="w-100" ng-model="style.fontFamily">
            <option value="Arial">Arial</option>
            <option value="Microsoft YaHei">Microsoft YaHei</option>
            <option value="Cursive">Cursive</option>
            <option value="Fantasy">Fantasy</option>
          </select>
        </div>

        <div>
          <label class="w-60">对齐</label>
          <select class="w-100" ng-model="style.textAlign">
            <option value="left">左对齐</option>
            <option value="right">右对齐</option>
            <option value="center">居中</option>
          </select>
        </div>

        <div class="half">
          <label class="w-60">粗体</label>
          <input type="checkbox" ng-model="style.fontWeight" ng-true-value="'bold'" ng-false-value="'normal'" />
        </div>

        <div class="half">
          <label class="w-60">下划线</label>
          <input type="checkbox" ng-model="style.textDecoration" ng-true-value="'underline'" ng-false-value="'none'" />
        </div>

        <div class="half">
          <label class="w-60">斜体</label>
          <input type="checkbox" ng-model="style.fontStyle" ng-true-value="'italic'" ng-false-value="'normal'" />
        </div>

        <div class="half">
          <label class="w-60">字号</label>
          <!-- <input type="text" class="w-40" ng-model="style.fontSize"> -->
          <div unit-out dir-class='w-40' dir-unit="em" dir-model="style.fontSize"></div>
        </div>

        <div class="half">
          <label class="w-80">自动换行</label>
          <input type="checkbox" ng-model="style.wordBreak" ng-true-value="'break-all'" ng-false-value="'none'" />
        </div>

        <div class="half">
          <label class="w-80">超链接</label>
          <input type="checkbox" ng-model="base.hrefState" ng-change="addRedirect();" />
        </div>

        <div ng-show="base.hrefState">
          <label class="w-100">跳转方式</label>
          <select class="w-80" ng-model="base.redirectMode">
            <option value="_self">本页跳转</option>
            <option value="_blank">开启新页</option>
          </select>
        </div>

        <div ng-show="base.hrefState">
          <label class="w-80">链接地址</label>
          <input type="text" class="w-100" ng-model="base.href" ng-change="addRedirect();" />
        </div>

        <div class="h-auto">
          <label class="w-80">字体颜色</label>
          <input type="text" colorpicker="rgba" ng-model="style.color" class="w-100"/>
        </div>

        <div class="h-auto">
          <label class="w-80"></label>
          <div class="w-100" ng-model="style.color" ng-style="{'background-color' : style.color}" colorpicker="rgba" style="position:relative;display:inline-block;height:20px;"></div>
        </div>

        <div class="clear"></div>
      </div>


    </div>


    <!-- 数据连接 -->
    <div class="uiPropertyDataLink" ng-show="componentProp=='dataLink'">

      <div properties-box dir-title="数据源">
        <div>
          <label class="w-80">类型</label>
          <select class="w-80">
            <option ng-model="data.datasouceName">实时数据源</option>
          </select>
        </div>

        <div>
          <label class="w-80">模型</label>
          <select class="w-80">
            <option ng-model="data.systemModelName">{{data.systemModelName}}</option>
          </select>
        </div>

        <div>
          <label class="w-80">系统</label>
          <select class="w-80">
            <option ng-model="data.systemName">{{data.systemName}}</option>
          </select>
        </div>
      </div>


      <div properties-box dir-title="播放设置">

        <!-- 变量区域 -->
        <div>
          <label class="w-80">变量选择</label>
          <select class="w-80" ng-model="tag" ng-change="selectedTag(tag)">
            <option ng-repeat="tag in data.tags" ng-model="tag">{{tag.name}}</option>
          </select>
        </div>

        <!-- 选择属性 -->
        <div>
          <label class="w-80">属性选择</label>
          <select class="w-80" ng-model="field" ng-change="selectedProperty(field)">
            <option ng-repeat="property in data.properties" ng-model="field">{{property}}</option>
          </select>
        </div>

      </div>

    </div>

  </div>
