<div id='{{id}}' name="{{common.name}}" component-prototype ng-controller="dy_nav" type="dy_component" style="width:100%;height:100%;">

    <!--
        组件主体部分
    -->
    <nav class="navbar navbar-inverse" ng-style="{'background-color':extend.bgColor,'width':common.width,'height':common.height}">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" ng-repeat="link in extend.links">
                    <li><a ng-href="#/page/{{link.page}}">{{link.title}}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--
        组件反选框
    -->
    <div class="free-transform" style="position:absolute;z-index:9000;width:{{common.width}}px;height:{{common.height}}px;left:0px;top:0px; pointer-events:none;" ng-style="style" ng-show="this_selected == 'active'"></div>

    <div class="halo animate" style="position:absolute;z-index:9000;width:{{common.width}}px;height:{{common.height}}px;left:0px;top:0px; pointer-events:none;" ng-show="this_selected == 'active'">

        <div class="handle nw remove" ng-click="component_del($event)" data-action="remove"></div>

        <div class="handle ne fork" ng-click="open_properties_dialog()" data-action="fork"></div>

    </div>

    <!--
        组件配置页面
    -->
    <div class="dy_widget_property_frame" ng-show="propertiesDisplay" style="z-index:9001;" ng-click="$event.stopPropagation();">

        <!-- 配置界面标头 -->
        <div class="dy_widget_property_nav">
            <span>{{glanguage.componentSetWidgetProperties}}</span>
            <div ng-click="close_properties_dialog()"><i class="glyphicon glyphicon-remove"></i></div>
            <div ng-click="saveFn()"><i class="glyphicon glyphicon-transfer"></i></div>
        </div>

        <!-- 配置界面切换标签 -->
        <ul class="dy_widget_property_tab nav nav-tabs" ng-init="selectedTab=1">
            <li ng-class="{active: selectedTab == 1}">
                <a ng-click="selectedTab = 1;">{{glanguage.componentCommon}}</a>
            </li>
            <li ng-class="{active: selectedTab == 2}">
                <a ng-click="selectedTab = 2;">{{glanguage.componentExtends}}</a>
            </li>
            <!--<li ng-class="{active: selectedTab == 3}">-->
            <!--<a ng-click="selectedTab = 3;">{{glanguage.componentData}}</a>-->
            <!--</li>-->
            <li ng-class="{active: selectedTab == 4}">
                <a ng-click="selectedTab = 4;">{{glanguage.componentConfig}}</a>
            </li>
        </ul>

        <!-- 通用属性 common properties -->
        <div class="tab-content dy_widget_common_property" ng-show="selectedTab == 1">
            <div widget-common-properties></div>
        </div>

        <!-- 扩展属性 extend properties -->
        <div class="tab-content dy_widget_extend_property" ng-show="selectedTab == 2">

            <div class="dy_widget_properties_common_directive">
                <label>{{glanguage.componentBackgroundColor}} :</label>
                <input colorpicker class="form-control input-sm" type="text" name="input" ng-model="extendMirror.bgColor" required/>
            </div>
        </div>

        <!-- 连接配置 config properties -->
        <div class="tab-content dy_widget_common_property" ng-show="selectedTab == 4">
            <div style="width: 100%;height: 60px;border-bottom: 2px solid #DDDDDD">
                <!--add link-->
                <div class="dy_widget_properties_common_directive">
                    <label>{{glanguage.componentAddLink}} :</label>
                    <button class="btn" ng-click="addLink()" title="Add Link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <!--add all link-->
                <div class="dy_widget_properties_common_directive">
                    <label>{{glanguage.componentAddAllPages}} :</label>
                    <button class="btn" ng-click="addAllPages()" title="Add All Pages">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <div style="width: 100%;">
                <table style="width: 100%" class="table">
                    <thead style="height: 40px">
                        <th style="width: 25%">{{glanguage.componentLinks}}</th>
                        <th style="width: 25%">{{glanguage.componentLinkPage}}</th>
                        <th style="width: 25%">{{glanguage.componentLinkTitle}}</th>
                        <th style="width: 25%">{{glanguage.componentLinkOperation}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="link in extendMirror.links track by $index" style="height: 40px">
                            <td>Link{{$index+1}}</td>
                            <td><select class="form-control input-sm" ng-model="link.page" ng-options="option for option in link_pages"></select></td>
                            <td><input type="text" class="form-control input-sm" ng-model="link.title"/></td>
                            <td>
                                <button class="btn" style="right: 100px" ng-click="deleLink($index)" title="delete this link">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<script>


app.registerCtrl('dy_nav', ['$scope' , '$unique_id' , '$element' , '$datasource_factory' , '$console' , '$timeout' ,

    function ($scope, $unique_id, $element , $datasource_factory , $console , $timeout) {
        /**
         variables:

         common : 通用属性 所有组件的通用属性一致 可以通过widget-common-properties设置
         extend : 扩展属性 组件之间的差异属性都在这里设置

         commonMirror , extendMirror 设置属性时，在属性栏中，还没有保存设置
         */
        $scope.id;
        $scope.common = {
            "name" : "nav",
            "zIndex" : "0",
            "width" : "100%",
            "height" : "50",
            "left" : "0",
            "top" : "0",
            "display" : "block"
        };
        $scope.extend = {
            "bgColor" : "#CCCCCC",
            "links" : []
        };

        $scope.link_pages = [];

        $scope.commonMirror;
        $scope.extendMirror;

        $scope.propertiesDisplay = false; // 初始化加载组件，不显示组件属性列表

        /**
         创建对 id common  extend 监听
         */
        $scope.$watch("id", function (n, o) {
            if (n) {
                $scope.id = n;
                writeBack();
            }
        }, true);

        $scope.$watch("common", function (n, o) {
            if (n) {
                //保存改变
                $scope.common = n;
                writeBack();

                var height = parseInt(n.height);
                var width = parseInt(n.width);
                var top = parseInt(n.top);
                var left = parseInt(n.left);
                var zIndex = parseInt(n.zIndex);

                $element.parent().css({
                    "height": height,
                    "width": width,
                    "top": top,
                    "left": left,
                    "z-index": zIndex
                });
                // 同步组件名称
                syncName(n.name);
            }
        }, true);

        $scope.$watch("extend", function (n, o) {
            if (n) {
                $scope.extend = n;
                writeBack();
            }
        }, true);


        /**
         初始化数据，获取标签data数据，初始化给$scope对象
         */
        var componentDataInit = function(){
            var ida = $element.parent().attr('data');
            var idata = angular.fromJson(ida);

            //组件通用属性,连接属性，拓展属性
            $scope.common = idata[0].common;
            $scope.extend = idata[0].extend;
            //对新建的组件，创建一个唯一系统id
            $scope.id = Boolean(idata[0].id)?idata[0].id:$unique_id();
            // 元素初始化以后，父类的element_list中，添加自己
            var pageId = $element.parent().parent().parent().attr("id");
            if($scope.element_list)
            {
                $.each($scope.element_list , function(idx , val){
                    var page_name = val.page_name ;
                    if(page_name == pageId)
                    {
                        var cjson = {"component_id" : $scope.id , "component_name" : $scope.common.name , "state" : "unactive" , "locked" : false};
                        val.child.push(cjson);
                    }
                });
            }

            $scope.commonMirror = angular.copy($scope.common);
            $scope.extendMirror = angular.copy($scope.extend);
        }
        componentDataInit();



        /*
         写回DOM驱动
         */
        var writeBack = function() {
            var idata = [];
            if(!$scope.extend.options )
            {
                $scope.extend.options = [];
            }
            $.each($scope.extend.options , function(idx , val){
                delete val['$$hashKey'];
            });
            idata.push({'id' : $scope.id , 'common' : $scope.common ,  'extend' : $scope.extend});

            var idataString = JSON.stringify(idata);
            $element.parent().attr("data", idataString);
        }



        /**
         组件名称name同步到页面
         */
        var syncName = function(name) {
            if(angular.isArray($scope.element_list)&&$scope.element_list.length>0){
                $.each($scope.element_list , function(idx , val){
                    $.each(val.child , function(cidx , cval){
                        if(cval.component_id == $scope.id){
                            cval.component_name = name;
                        }
                    })
                })
            }
        }


        //取消修改，属性设置页面关闭按钮触发
        $scope.resetFn = function () {
            //common
            if(angular.isObject($scope.common)){
                $scope.commonMirror = jQuery.extend({},$scope.common);
            }

            //extend
            if(angular.isObject($scope.extend)){
                $scope.extendMirror = jQuery.extend({},$scope.extend);
            }

        };


        //设置属性保存
        $scope.saveFn = function () {
            //common
            if(angular.isObject($scope.commonMirror)){
                $scope.common = jQuery.extend({},$scope.commonMirror);
            }
            //extend
            if(angular.isObject($scope.extendMirror)){
                $scope.extend = jQuery.extend({},$scope.extendMirror);
                $scope.extend.options = $scope.extendMirrorOptions;
            }

            $console.log($scope.extendMirror , 'text.html , show extendMirror - extendMirror');
        };



        /**
         5. 系统设置，组件实现者不需要关心实现
         */

            // 监听元素何时被选中
        $scope.this_selected = "unactive";
        $scope.style = {};

        $scope.$watch("element_list", function (n, o) {
            if(!$scope.element_list){
                return;
            }
            if(angular.isArray($scope.element_list)&&$scope.element_list.length>0){
                $.each($scope.element_list , function(idx , val){
                    $.each(val.child , function(cidx , cval){
                        if(cval.component_id == $scope.id){
                            $scope.this_selected = cval.state;
                            if(cval.locked){
                                $scope.style = {border : "1px dashed #FF0000"}
                            }else{
                                $scope.style = {border : "1px dashed #000000"}
                            }
                        }
                    })
                })
            }
            //根据element_list更新link_pages
            $scope.link_pages = [];
            $.each(n, function (idx, val) {
                if(val.hasOwnProperty('page_name')){
                    $scope.link_pages.push(val.page_name);
                }
            });
        }, true);


        $scope.addLink = function () {
            //链接数最多设置为10个
            var linkNum = 10;
            if($scope.extendMirror.links.length<linkNum){
                $scope.extendMirror.links.push({
                    title : "",
                    page : ""
                })
            }else{
                console.log("nav:links number is above "+linkNum);
            }
        };

        $scope.addAllPages = function () {
            //清空已有的链接
            $scope.extendMirror.links = [];
            //遍历link_pages添加链接
            $.each($scope.link_pages, function (idx,val) {
                $scope.extendMirror.links.push({
                    title : val,
                    page : val
                })
            })
        };

        $scope.deleLink = function (index) {
            $scope.extendMirror.links.splice(index,1);
        };



        /**
         控制属性栏显示，并且在显示属性栏同时，重新加载一次已经创建好的数据源
         */
        $scope.open_properties_dialog = function(){
            $scope.propertiesDisplay = true;
            $scope.$parent.keyboardOperation = false;
            $scope.resetFn();

            try
            {
                $element.parent().draggable( 'disable' );
            }
            catch (e)
            {
                $console.log('Component did not open it has been closed ' , 'text.html')
            }
        }


        /**
         关闭属性窗口
         */
        $scope.close_properties_dialog = function () {
            $scope.propertiesDisplay = false;
            $scope.$parent.keyboardOperation = true;
            try
            {
                $element.parent().draggable( 'enable' );
            }
            catch (e)
            {
                $console.log('Component did not open it has been closed ' , 'text.html')
            }
        }


        /**
         响应组件拖拽，更改元素位置
         */
        $scope.$on('COMPONENT_DRAGGABLE', function (evt, data) {
            var left = $element.parent().css("left");
            var top = $element.parent().css("top");
            $scope.common.left = parseInt(left);
            $scope.common.top = parseInt(top);
        });

        /**
         响应组件缩放
         */
        $scope.$on('COMPONENT_RESIZABLE', function (evt, data) {
            var width = $element.parent().css("width");
            var height = $element.parent().css("height");
            $scope.common.width = parseInt(width);
            $scope.common.height = parseInt(height);
        });

        /*
         响应其他组件被点击，关闭自身的属性栏
         */
        $scope.$on('COMPONENT_CLOSE_PROPERTY' , function(evt , data){
            if(data != $scope.id)
            {
                $scope.close_properties_dialog();
            }
        });


        $scope.index;
        $scope.metaSelect = function(idx){
            $scope.index = idx;
        }

        $scope.$on('COMPONENT_DELETE' , function(evt , callback){
             callback();
       });

        $timeout(function(){
            $(".dy_widget_properties_config_left").mCustomScrollbar({theme:"rounded-dark"});
        } , 200);

    }
]);

</script>
