<span class="weather-place"></span></p>

<div class="weatherT">
  <span class="weather-temperature" style="margin:auto;"></span>
</div>

<div class="weatherDi" ng-show="display">
  <img src="" class="weather-icon" alt="Weather Icon" />
  <span class="weather-description capitalize"></span></p>
</div>

<div class="weatherH" ng-show="display">
  <p><strong>湿度</strong>
  <span class="weather-humidity"></span></p>
</div>

<div class="weatherWs" ng-show="display">
  <p><strong>风速</strong>
  <span class="weather-wind-speed"></span></p>
</div>
