<div class="dy_datasource_datasource_widget">
	<span style="width:10px;color:#FF0000;"></span>
	<span>state</span>
	<select class="form-control" style="height:30px;width:244px;" ng-model="options[0].value">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>
</div>

<div class="dy_datasource_datasource_widget">
	<span style="width:10px;color:#FF0000;"></span>
	<span>sorts</span>
	<select class="form-control" style="height:30px;width:244px;" ng-model="options[1].value">
		<option value="uuid">uuid</option>
		<option value="uuid-">uuid-</option>
		<option value="name">name</option>
		<option value="name-">name-</option>
		<option value="desc">desc</option>
		<option value="desc-">desc-</option>
		<option value="region_id">region_id</option>
		<option value="region_id-">region_id-</option>
		<option value="state">state</option>
		<option value="state-">state-</option>
		<option value="longitude">longitude</option>
		<option value="longitude-">longitude-</option>
		<option value="latitude">latitude</option>
		<option value="latitude-">latitude-</option>
		<option value="create_time">create_time</option>
		<option value="create_time-">create_time-</option>
	</select>
</div>

<div class="dy_datasource_datasource_widget">
	<span style="width:10px;color:#FF0000;"></span>
	<span>offset</span>
	<input input-length-limit-three class="form-control input-sm" style="height:30px;width:244px;" type="number" name="input" ng-model="options[2].value" min="0" max="1000"  placeholder="0-1000" required/>
</div>

<div class="dy_datasource_datasource_widget">
	<span style="width:10px;color:#FF0000;"></span>
	<span>limit</span>
	<input input-length-limit-three class="form-control input-sm" style="height:30px;width:244px;" type="number" name="input" ng-model="options[3].value" min="0" max="1000" placeholder="0-1000" required/>
</div>


